@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 25px;
}

html, body, #root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  touch-action: manipulation;
}

input, textarea, select {
  font-size: 25px !important;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Profile pic গোল রাখো */
img.rounded-full {
  border-radius: 50% !important;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}