.navber {
    position: relative;
  padding-bottom: 10px;
  z-index: 1000;
}
.main{
  box-shadow: 4px 10px 15px #555;

}
.navber::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;

  width: 50px;
  height: 4px;
  background-color: skyblue;

  transition: 0.3s;
}

.navber.active::after {
  transform: translateX(-50%) scaleX(1);
}